/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: left;
  color: black;
  margin-top: 50px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
  line-height: 1.6;
}

/* Estilos para el botón */
.boton {
  display: block;
  width: 200px;
  padding: 15px;
  margin: 30px auto;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: #808080; /* color gris */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Efecto al pasar el ratón */
.boton:hover {
  background-color: #FFEB3B; /* color amarillo */
}

.mosaico {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.fila {
  display: flex;
  justify-content: center;
  gap: 20px;  /* Espacio entre las imágenes */
  margin-bottom: 20px;
}

.boton-imagen {
  background: none;  /* Eliminar el fondo del botón */
  border: none;      /* Eliminar el borde del botón */
  padding: 0;        /* Eliminar padding */
  cursor: pointer;  /* Cambiar el cursor a un puntero */
  outline: none;     /* Eliminar el borde de enfoque predeterminado */
}

.boton-imagen:hover .imagen {
  opacity: 0.8;  /* Efecto visual al pasar el ratón por encima */
}

.imagen {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  transition: opacity 0.3s ease;  /* Transición suave para el cambio de opacidad */
}
