.franja-arriba {
    background-color: #fad79a; /* Color de la franja */
    height: 60px; /* Altura de la franja */
    width: 100%; /* Ocupa todo el ancho de la página */
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    margin: 0;
    padding: 0;
    background-color: #f5f4e8; 
    text-align: justify;
}

header {
    background-color: #e8e5df;
    color: #000000;
    text-align: center;
    padding: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Cambiado para ser más genérico */
    font-size: 23px;
}

header h1 {
    margin: 0;
    font-size: 80px;
    font-family: 'seasons', Georgia, 'Times New Roman', Times, serif;
}

header h2 {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h3 {
    font-size: small;
    font-family: serif;
    color: whitesmoke;
    text-align: right;
}

.menu {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color: #efb34c;
    border-radius: 2rem; 
    margin: 1rem; 
    padding: 0.5rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    font-family: 'seasons';
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 0.3rem 0.8rem;
    gap: 0.5rem;
    margin-inline: auto; 
}

.search-icon {
    font-size: 1.2rem;
    color: #666;
}

.search-input {
    border: none;
    outline: none;
    font-size: 1rem;
    width: 150px; 
}
.menu button {
    background: none;
    border: none;
    border-radius: 1rem;
    padding: 0.3rem 0.8rem;
    color: black;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'seasons2', Georgia, 'Times New Roman', Times, serif;
    transition: background-color 0.3s;
}

.menu button:hover, .menu button.active {
    background-color: #93651564;
}

.social-icon {
    color: black; 
    font-size: 1.5rem; 
    margin-left: 1rem; 
    text-decoration: none; 
}

.social-icon:hover {
    color: #555; 
}

.content {
    padding: 2rem;
    display: none;
}

.content.active {
    display: block;
}

.flower-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.7rem;
    background-color: #e8e5df;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0.7rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.columna {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre las imágenes */
    margin-bottom: 20px;
}

.flower-card img {
    max-width: 50%;
    border-radius: 8px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.flower-card p {
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin: 0.9rem;
    overflow: hidden;
    max-height: 0rem;
    transition: max-height 0.3s ease;
}

.flower-card p.expanded {
    max-height: 20rem;
}

.flower-card button {
    background-color: #d2df56;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.flower-card button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer a {
    display: inline-block;
    background-color: #d2df56;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    margin: 0.5rem;
    transition: background-color 0.3s;
}

footer a:hover {
    background-color: #45a049;
}

@font-face {
    font-family: 'seasons';
    src: url('fonts/Fontspring-DEMO-theseasons-lt.otf');
}

@font-face {
    font-family: 'seasons2';
    src: url('fonts/Fontspring-DEMO-theseasons-reg.otf');
}
